# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment files
# .env

# Ignore Sequelize migration files (if using Sequelize CLI)

# Ignore package-lock.json (uncomment if you are not using npm v5+)
# package-lock.json

# Ignore .DS_Store files (for macOS)
.DS_Store

# Ignore Visual Studio Code settings (if using VS Code)
.vscode/

# Ignore editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/

# Ignore test coverage directory (if using testing frameworks)
/coverage/
